.Background {
  margin: 0;
  padding: 0;
  background-image: url('/public/images/background.png'); /* Substitua pelo caminho da sua imagem de fundo */
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.informativo {
  position: absolute;
  right: 0px; 
  top: 50%; 
  transform: translateY(-50%);
  width: 30%;
}

.banners {
  position: absolute;
  left: 40px; 
  top: 50%; 
  transform: translateY(-50%);
}

.info-divide {
  padding: 20px;
}