.banner-img {
    height: 70vh;
    width: 50vh;
    border-radius: 5px;
    margin: 0px;
    padding: 0px;
}

.align-banner {
    align-items: center;
    justify-content: center;
}

.align-banner div {
    margin: 5px;
}

.banner-section {
    background-color: #020f17;
    border-top: 5px solid #0e0e0e;
}

.banner-container {
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    max-width: 100% !important;
}
.responsive-iframe {
    height: 70vh;
    width: 50vh;
    border-radius: 5px;
    margin: 0px;
    padding: 0px;
}

@media only screen and (max-width: 768px) {

    .carousel-image-container img {
        object-fit: cover;
        height: 60vh;
    }

}
  