.banner-img {
    height: 70vh;
    width: 50vh;
    border-radius: 5px;
    margin: 0px;
    padding: 0px;
}

.align-banner {
    align-items: center;
    justify-content: center;
}

.align-banner div {
    margin: 5px;
}

.banner-section {
    background-color: #020f17;
    border-top: 5px solid #0e0e0e;
}

.banner-container {
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
}
.responsive-iframe {
    height: 70vh;
    width: 50vh;
    border-radius: 5px;
    margin: 0px;
    padding: 0px;
}

@media only screen and (max-width: 768px) {
    .banner-section {
        display: block;
    }

    .banner-img {
        height: 400px;
        width: 100%;
        max-width: -webkit-fill-available;
    }

    .responsive-iframe {
        height: 400px;
        width: 100%;
        max-width: -webkit-fill-available;
    }

    .banners #div {
        display: block;
    }
}
  